Getting started with Spacy<br>
Import data.<br>
We repeat the preprocessing from the previous homework.

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import os

In [3]:
os.chdir( "/content/gdrive/MyDrive/flair" )

In [4]:
path_to_data = os.getcwd() + '/Entity Recognition in Resumes.json'

In [5]:
myfile = open( path_to_data, "r", encoding = "utf-8" )

imported_data = []

for datum in myfile:
    
    # TODO process data
    imported_data.append(datum)

myfile.close()

# TODO print first line
print(imported_data[0])

# TODO print how many resumees were read in
print(len(imported_data))

{"content": "Afreen Jamadar\nActive member of IIIT Committee in Third year\n\nSangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6\n\nI wish to use my knowledge, skills and conceptual understanding to create excellent team\nenvironments and work consistently achieving organization objectives believes in taking initiative\nand work to excellence in my work.\n\nWORK EXPERIENCE\n\nActive member of IIIT Committee in Third year\n\nCisco Networking -  Kanpur, Uttar Pradesh\n\norganized by Techkriti IIT Kanpur and Azure Skynet.\nPERSONALLITY TRAITS:\n• Quick learning ability\n• hard working\n\nEDUCATION\n\nPG-DAC\n\nCDAC ACTS\n\n2017\n\nBachelor of Engg in Information Technology\n\nShivaji University Kolhapur -  Kolhapur, Maharashtra\n\n2016\n\nSKILLS\n\nDatabase (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.\n\nhttps://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN","annotation":[{"label":["Email Address"],"points":[{"start":1155,"end":1198,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Links"],"points":[{"start":1143,"end":1239,"text":"https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN"}]},{"label":["Skills"],"points":[{"start":743,"end":1140,"text":"Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql."}]},{"label":["Graduation Year"],"points":[{"start":729,"end":732,"text":"2016"}]},{"label":["College Name"],"points":[{"start":675,"end":702,"text":"Shivaji University Kolhapur "}]},{"label":["Degree"],"points":[{"start":631,"end":672,"text":"Bachelor of Engg in Information Technology"}]},{"label":["Graduation Year"],"points":[{"start":625,"end":629,"text":"2017\n"}]},{"label":["College Name"],"points":[{"start":614,"end":622,"text":"CDAC ACTS"}]},{"label":["Degree"],"points":[{"start":606,"end":611,"text":"PG-DAC"}]},{"label":["Companies worked at"],"points":[{"start":438,"end":453,"text":"Cisco Networking"}]},{"label":["Email Address"],"points":[{"start":104,"end":147,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Location"],"points":[{"start":62,"end":67,"text":"Sangli"}]},{"label":["Name"],"points":[{"start":0,"end":13,"text":"Afreen Jamadar"}]}],"extras":null,"metadata":{"first_done_at":1527844872000,"last_updated_at":1537724086000,"sec_taken":0,"last_updated_by":"BIQNZm4INNfvByMqkaVwVt6OZTv2","status":"done","evaluation":"CORRECT"}}

701

In [6]:
import json

In [7]:
mapped_data = [ json.loads( datum ) for datum in imported_data  ]

In [8]:
## data conversion method
def convert_data(data):
    """
    Creates NER training data in Spacy format from JSON dataset
    Outputs the Spacy training data which can be used for Spacy training.
    """
    text = data['content']
    entities = []
    if data['annotation'] is not None:
        for annotation in data['annotation']:
            # only a single point in text annotation.
            point = annotation['points'][0]
            labels = annotation['label']
            # handle both list of labels or a single label.
            if not isinstance(labels, list):
                labels = [labels]
            for label in labels:
                # dataturks indices are both inclusive [start, end] but spacy is not [start, end)
                entities.append((point['start'], point['end'] + 1, label))
    return (text, {"entities": entities})
   
## TODO using a loop or list comprehension, convert each resume in mapped_data using the convert function above, 
## storing the result
converted_resumes = [convert_data(data) for data in mapped_data]
## TODO print the number of resumes in converted resumes 
print(len(converted_resumes))

701

In [9]:
# TODO filter out the resumees whose entities have no entries.
converted_complete_resumees = [(text, ent) for text, ent in converted_resumes if len(ent["entities"]) > 0]

Up until now, you could reuse the code from the previous notebook, now, something new comes.

In [10]:
import spacy
nlp = spacy.load('en')
print(nlp)

<spacy.lang.en.English object at 0x7fdfe1219c10>

__nlp__ is Spacy's English language model. For this model, a pretrained NER-model exists.

In [11]:
ner = nlp.get_pipe('ner')
labels = ner.labels
print(labels)

('CARDINAL', 'DATE', 'EVENT', 'FAC', 'GPE', 'LANGUAGE', 'LAW', 'LOC', 'MONEY', 'NORP', 'ORDINAL', 'ORG', 'PERCENT', 'PERSON', 'PRODUCT', 'QUANTITY', 'TIME', 'WORK_OF_ART')

__Question 1__: Explain the labels __GPE__, __FAC__, __NORP__.<br>
Which of these labels from __ner__ do you think will Spacy recognize in the resumees?<br>

Labels:
  - GPE: Countries, Cities, States
  - Buildings, Airports, Highways, Bridges, etc.
  - Nationalities or religious or political Groups

We will probably find GPE, especially cities or countries. Also ORG for the companies. Probably Time and Date for the period of company worked at. 

<br>
__Task 1__: choose a resumee.

In [12]:
ner.pipe

In [13]:
# TODO get a single resume text and print it out.
restxt = converted_complete_resumees[27][0]
## print it out, removing extraneous spaces
print("\n".join(restxt.split('\n\n')))

Kasturika Borah
Team Member - Cisco
Bengaluru, Karnataka - Email me on Indeed: indeed.com/r/Kasturika-
Borah/9e71468914b38ee8
• Software Engineer with overall 3+ years of experience in Network Monitoring system tool (EM7,
Quicksilver) Database tool (SQL, Maria DB) and reporting tool (Splunk) in all the releases.
• Relevant experience as a Test engineer for the releases includes Functional testing as well as
regression testing. Testing includes writing test cases, execute them and raise bugs.
• Relevant 1+ years of experience in handling releases for EM7 with proper documentation, Power
pack creation and Tar creation for Sprint releases.
• Creating Splunk reports from last 6 months.
• Competent technical person involved in requirement gathering, analysis, design and coding.
• Experience in coding Python, SQL, and XML as per the requirement.
• Have knowledge in Event generating using traps and Syslog's generator.
• Exposure to Agile methodologies using Scrum Works framework, even handled scrum in the
team
• Strong problem-solver who can design solutions and assist developers with issues.
• Excellent debugging and resolution skills.
• Good communication and interpersonal skills.
• Working as Software Engineer for Cisco System India Private Ltd under Capgemini India Pvt.
Ltd.. From May 25th 2017 till nowl
• Working as Software Engineer for Cisco System India Private Ltd under Randstad India Ltd.
From Dec 15 2014 till 30th April.
• Worked as Data Analyst for Fidelity India Financial Inc. from June 2013 till Oct 2014.
• Worked as Billing Analyst for IBM Daksh from March 2013 to June 2013.
Willing to relocate to: Bengaluru, Karnataka
WORK EXPERIENCE
Team Member
Cisco -
October 2017 to Present
Environment: Splunk
Technologies: SPL command
Responsibilities
• Involvement writing Splunk programming language and designing the report dashboard
• Following Agile methodology
• Develop the code on the design in splunk.
• Unit Testing and code review
Senior developer and tester
https://www.indeed.com/r/Kasturika-Borah/9e71468914b38ee8?isid=rex-download&ikw=download-top&co=IN
https://www.indeed.com/r/Kasturika-Borah/9e71468914b38ee8?isid=rex-download&ikw=download-top&co=IN

Cisco -
December 2014 to Present
Environment: EM7 platform, Quicksilver, SQL, oracle Toad
Technologies: Python coding, xml coding, SQL query writing
Description
Cisco Systems, Inc. (known as Cisco) is an American multinational technology conglomerate
headquartered in San José, California, that develops, manufactures, and sells networking
hardware, telecommunications equipment, and other high-technology services and products
(www.cisco.com)
Responsibilities
1. Developer of individual task on each release by weekly
• Need to do coding for new requirement.
• Also need to do end to end testing of all the events including Traps and Syslogs.
2. Database and Infrastructure Monitoring and Alerting related to device.
3. Involvement in documentation of release notes and preparation of a Regression testing at the
end of each release.
Team Member
Cisco -
December 2014 to December 2017
Environment: INFOVISTA (Vportal)
Technologies: MS-Excel (sort, VLOOKUP), PPT
Responsibilities
• Involvement in generating performance reports for certain customers at the starting of every
month
• Gathering the data from the INFOVISTA portal and sort it out as per month in the excel and
design the graphs for last consecutive
• Responsible for each data uploaded to the excel sheet and reviewing it before delivering
Fidelity national financial -
June 2013 to October 2014
Role: QA and Report handling for the team
Technologies: MS-Excel (sort, VLOOKUP), PPT, MS-Outlook
Responsibilities
• Involvement in generating performance reports for the team at the end of each day and monthly
based
• Responsible for each data uploaded to the excel sheet and sending it to the team manager
EDUCATION
Compucom Insitute of Information Technology

rajasthan University
2012
SKILLS
Database (3 years), Python (3 years), Splunk (Less than 1 year), SQL (3 years), xml (3 years)
ADDITIONAL INFORMATION
TECHNICAL SKILLS
• Programming Languages: Python, XML
• Database: Maria-DB, sql
• Cisco Monitoring Tools: EM7
• Operating Systems: Windows/XP
• Reporting Tools: Vportal, Splunk
• Application & Web Servers: Sciencelogic (EM7), Syslog sender, Relay server.
• Data Structure Knowledge: Intermediate

Next, we let __nlp__ process that single resumee.<br>
__Task 2__: print the results in __doc__. For each result, print the underlying text and the label.

In [18]:
doc = nlp(restxt)
# TODO  Print the results in doc. For each result, print the text and the label.

for token in doc:
  if token.ent_type_:
    print(f"{token.text}: {token.ent_type_}")

Kasturika: PERSON
Borah: PERSON
Bengaluru: GPE
Karnataka: PERSON
3: DATE
+: DATE
years: DATE
Network: FAC
Monitoring: FAC
SQL: ORG
Maria: PERSON
DB: PERSON
Sprint: ORG
Creating: ORG
Splunk: ORG
last: DATE
6: DATE
months: DATE
Python: GPE
SQL: ORG
XML: ORG
Syslog: PERSON
Scrum: PRODUCT
Works: PRODUCT
Cisco: ORG
System: ORG
India: ORG
Private: ORG
Ltd: ORG
Capgemini: ORG
India: ORG
Pvt: ORG
.: ORG

: ORG
May: DATE
25th: DATE
2017: DATE
Cisco: ORG
System: ORG
India: ORG
Private: ORG
Ltd: ORG
Randstad: ORG
India: ORG
Ltd.: ORG
From: DATE
Dec: DATE
15: DATE
2014: DATE
Fidelity: ORG
India: ORG
Financial: ORG
Inc.: ORG
June: DATE
2013: DATE
2014: DATE
Billing: ORG
Analyst: ORG
IBM: ORG
Daksh: ORG
March: DATE
2013: DATE
to: DATE
June: DATE
2013: DATE
Bengaluru: GPE
Karnataka: PERSON
Team: ORG
Member: ORG
Cisco: GPE
October: DATE
2017: DATE
SPL: ORG
Following: ORG
Agile: ORG
Cisco: GPE
December: DATE
2014: DATE
Quicksilver: GPE
SQL: ORG
Python: ORG
xml: PERSON
coding: PERSON
SQL: ORG
Cisco: ORG
Systems: ORG
,: ORG
Inc.: ORG
Cisco: GPE
American: NORP
San: GPE
José: GPE
California: GPE
1: CARDINAL
weekly: DATE
Traps: WORK_OF_ART
and: WORK_OF_ART
Syslogs: WORK_OF_ART
2: CARDINAL
3: CARDINAL
Cisco: GPE
December: DATE
2014: DATE
to: DATE
December: DATE
2017: DATE
every: DATE

: DATE
month: DATE
INFOVISTA: ORG
as: DATE
per: DATE
month: DATE
graphs: NORP
Fidelity: ORG
June: DATE
2013: DATE
to: DATE
October: DATE
2014: DATE
MS: ORG
-: ORG
Excel: ORG
PPT: ORG
MS: ORG
-: ORG
Outlook: ORG
the: DATE
end: DATE
of: DATE
each: DATE
day: DATE
monthly: DATE
Compucom: ORG
Insitute: ORG
of: ORG
Information: ORG
SKILLS: ORG
3: DATE
years: DATE
Python: GPE
3: DATE
years: DATE
Less: DATE
than: DATE
1: DATE
year: DATE
SQL: ORG
3: DATE
years: DATE
xml: PERSON
3: DATE
years: DATE
TECHNICAL: ORG
Programming: ORG
Languages: ORG
:: ORG
Python: ORG
XML: ORG
Maria: PERSON
-: PERSON
DB: PERSON
Operating: ORG
Systems: ORG
Syslog: PERSON
Relay: PERSON

__Question 2__: How well did Spacy perform at recognizing the labels for this text?<br>
When Spacy predicted the labels for this resumee, a pretrained model was used.

Well spacy certainly found many good NER labels, but for example it doesn't understand that XML and SQL is not an ORG. Also PPT, MS and Excel was labeled as ORG. So Spacy has definetely problems with labeling the skills. We need to add a new label.

<br>

__Task 3__: print for this resumee the original labels and their corresponding text.

In [19]:
# TODO print for that resumee the original labels and their corresponding text.

labeled_ents = converted_complete_resumees[27][1]["entities"]

for ent in labeled_ents:
  print(f"{converted_complete_resumees[27][0][ent[0]:ent[1]]}: {ent[2]}")

Cisco: Companies worked at
• Programming Languages: Python, XML
• Database: Maria-DB, sql
• Cisco Monitoring Tools: EM7
• Operating Systems: Windows/XP
• Reporting Tools: Vportal, Splunk
• Application & Web Servers: Sciencelogic (EM7), Syslog sender, Relay server.
• Data Structure Knowledge: Intermediate: Skills
Database (3 years), Python (3 years), Splunk (Less than 1 year), SQL (3 years), xml (3 years)
: Skills
2012: Graduation Year
rajasthan University
: College Name
Compucom Insitute of Information Technology
: College Name
Cisco: Companies worked at
Team Member: Designation
Cisco: Companies worked at
Cisco: Companies worked at
Cisco: Companies worked at
Cisco: Companies worked at
Team Member: Designation
Bengaluru: Location
Cisco: Companies worked at
Cisco: Companies worked at
Indeed: indeed.com/r/Kasturika-
Borah/9e71468914b38ee8: Email Address
Bengaluru: Location
Cisco: Companies worked at
Team Member: Designation
Kasturika Borah: Name

__Question 3__: Compare the performance of the pretrained model __nlp__ and the true labels. Did Spacy perform well? If not, try to explain why.<br>

It is not really compareable, since the labels of the both approaches are almost completely different. If we say that `companies worked at` = `ORG`, than we can say at least for this label spacy formed very well. Also for `PERSON`,  `DATE` and `TIME` spacy peforms well.

<br>

__Task 4__: Remember last homework? You chose three labels. Select all the resumees, in which all three labels appear.

In [20]:
# TODO fill in your chosen labels in chosen_entity_labels
chosen_entity_labels = [ "Degree", "Companies worked at" , "Skills"]

## this method gathers all resumes which have all of the chosen entites above.
def gather_candidates(dataset,entity_labels):
    candidates = list()
    for resume in dataset:
        res_ent_labels = list(zip(*resume[1]["entities"]))[2]
        if set(entity_labels).issubset(res_ent_labels):
            candidates.append(resume)
    return candidates

training_data = gather_candidates( converted_complete_resumees, chosen_entity_labels )
print("Gathered {} training examples".format(len(training_data)))

Gathered 437 training examples

__Task 5__: Next, we want to remove all other entities, since we only want to train NER for the three entities in __chosen_entity_labels__.

In [21]:
## filter all annotation based on filter list
def filter_ents(ents, filter):
    filtered = [ent for ent in ents if ent[2] in filter]
    return filtered

## TODO use method above to remove all but relevant (chosen) entity annotations and store in X variable. X shall contain all
## the resumees from training_data, but their entity annotations shall be filtered using the function from above.
X = [(training_datum[0], {"entities": filter_ents(training_datum[1]["entities"], chosen_entity_labels)}) for training_datum in training_data]

__Task 6__: Some resumees cause trouble. We filter these out with the following lines of code.<br>
First, use __add_label__ to add your chosen labels to the __ner__ model.

In [22]:
from spacy.gold import GoldParse 

# TODO add your labels 
ner.add_label( chosen_entity_labels[0] )

ner.add_label( chosen_entity_labels[1] )

ner.add_label( chosen_entity_labels[2] )

nlp.begin_training()

good = []

for item in X:
  
  text = nlp.make_doc( item[ 0 ] )

  try:
    
    gold = GoldParse( text, entities = item[ 1 ][ "entities" ] )

  except:

    continue
  
  try:
    
    nlp.update( [ text ], [ gold ], drop = 0.3 )

  except:

    pass

  else:

    good.append( item )

print( "Number of good samples: " + str( len( good ) ) )

print( "" )

print( "" )

print( "Number of bad sampples: " + str( len( X ) - len( good ) ) )

Number of good samples: 351


Number of bad sampples: 86

For a machine learning model, it is essential to be able to generalize. Only a model, that can generalize well is able to process new data in a meaningful way. Therefore, one usually separates the data set into two sets: the training set and the test set. The training set is used to train the model. The test set is used to evaluate the performance of the model on unseen data.

In [23]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split( [ item[ 0 ] for item in good ], [ item[ 1 ] for item in good ], test_size = 0.3 )

__Task 7__: Complete the following code. Shuffle __new_index__. Create the data sets __x_shuffled__ and __y_shuffled__. Use these to create minibatches, iterate over these minibatches, preprocess the data in a given minibatch using __nlp.make_doc__ and __GoldParse__. Employ __nlp.update__ to update the model using these preprocessed data.

In [24]:
import numpy as np

nlp.begin_training()

new_index = np.arange( len( x_train ) )

x_data = np.array( x_train )

y_data = np.array( y_train )

for i in range( 20 ):
  print(f"Epoch: {i+1}")
  # TODO shuffle new_index
  np.random.shuffle(new_index)

  x_shuffled = x_data[new_index]

  y_shuffled = y_data[new_index]

  block_size = 35

  for i in range(7):
    
    x_shuffled_batch = x_shuffled[block_size * i:block_size * (i + 1)]
    y_shuffled_batch = y_shuffled[block_size * i:block_size * (i + 1)]
   
    texts = [nlp.make_doc(str(x)) for x in x_shuffled_batch]
    golds = [GoldParse( text, entities = y_shuffled_batch[ "entities" ] ) for text, y_shuffled_batch in zip(texts, y_shuffled_batch)]
    
    nlp.update(texts, golds, drop = 0.3 )

  # TODO
  # divide the data in x_shuffled and y_shuffled into minibatches of identical size
  # iterate over these minibatches
  # preprocess the data in a minibatch using nlp.make_doc and GoldParse
  # use these preprocessed data and nlp.update to train the model

Epoch: 1
Epoch: 2
Epoch: 3
Epoch: 4
Epoch: 5
Epoch: 6
Epoch: 7
Epoch: 8
Epoch: 9
Epoch: 10
Epoch: 11
Epoch: 12
Epoch: 13
Epoch: 14
Epoch: 15
Epoch: 16
Epoch: 17
Epoch: 18
Epoch: 19
Epoch: 20

__Question 4__: Why did we shuffle the data?<br> 
Why did we employ mini batches?<br>
Reasearch the term __epoch__ in machine learning. How many epochs of training do we employ?<br>

Mini Batches: This is compareable to an SGD and a Mini-batch training. With single training example the gradient jumps alot around and with a minibatch we have a slightly more generalised gradient each training step and it is good practise to do mini batch training.

For our training we employed 20 epochs. This is rather few, but can be sufficient enough. It could be that if we used more epochs, we overfit the model and if we use to few epochs we underfit the data. But this would need some further investigation.

<br>

__Task 8__: Next, we choose one resumee and print it.

In [27]:
n = 27
resume = x_test[n]

print( resume )

Sayed Shamim Azima
NEOLEX CABLES as a JUNIOR QUALITY CONTROLLER & SALES MANAGER

Mumbai, Maharashtra - Email me on Indeed: indeed.com/r/Sayed-Shamim-Azima/
fd3544df79c46592

Willing to relocate to: Mumbai, Maharashtra

WORK EXPERIENCE

JUNIOR QUALITY CONTROLLER & SALES MANAGER

Neolex Cables -  India -

October 2015 to September 2016

Recruiting the companies for sales
• Producing sales from them
• Doing technical specification test for the copper, pvc, aluminium, wires etc.
• Maintaining good relationship with the respected companies
• Fulfill their needs & Generate Business from them.

Sales Executive

Supiro Services -  India -

May 2015 to August 2015

• To pitch policies to the provided customer
• Selling of insurance to the clients
• Generates leads from open market

EDUCATION

M.Sc. Physics

Mumbai University

SKILLS

Quality Control, Quality Assurance

https://www.indeed.com/r/Sayed-Shamim-Azima/fd3544df79c46592?isid=rex-download&ikw=download-top&co=IN
https://www.indeed.com/r/Sayed-Shamim-Azima/fd3544df79c46592?isid=rex-download&ikw=download-top&co=IN

__Task 9__: we process this resumee using __nlp__. Print for all items in __doc.ents__ the predicted label and the corresponding text. Then print the correct labels and their corresponding text for that resumee with data from __y_test__.

In [28]:
doc = nlp( resume )

# TODO
# print for all the items in doc.ents the predicted label and the corresponding text

for token in doc:
  if token.ent_type_:
    print(f"{token.text}: {token.ent_type_}")
# TODO
# print the correct labels and their corresponding text for that resumee with data from y_test
print("\nCorrect Labels\n")
for token in y_test[n]["entities"]:
  print(f"{token[2]}: {x_test[n][token[0]:token[1]]}")

Neolex: Companies worked at
Cables: Companies worked at
-: Companies worked at
 : Companies worked at
India: Companies worked at
-: Companies worked at


: Companies worked at
October: Companies worked at
2015: Companies worked at
Supiro: Companies worked at
Services: Companies worked at
-: Companies worked at
 : Companies worked at
India: Companies worked at

Correct Labels

Skills: Quality Assurance
Skills: Quality Control
Degree: M.Sc. Physics
Companies worked at: Supiro Services
Companies worked at: Neolex Cables
Companies worked at: NEOLEX CABLES

__Question 5__: What labels did the model predict correctly?<br> 
Where appeared problems?<br> 
How can you explain the problems?<br>

The model performed very well on this task. It detected the skills, the degree and the companies worked for correctly. Really good. The problem is, that the companies worked for are found three times and especially with the `-` sign the model is performing very bad. Maybe we need to do more preprocessing before funneling the CV into the model training.

<br>

__Question 6__: We can evaluate the performance of the model using 4 metrics: the __Accuracy__, the __Precision__, the __Recall__ and __F1__.<br>
Inform yourself on these metrics. How are they defined? Explain the concept of __True Positive__, __True Negative__, __False Positive__ and __False Negative__. Use these to define  the __Accuracy__, the __Precision__, the __Recall__ and __F1__, and also give the formula for each of these.<br>

- Accuracy: (TP + TN) / (TP + TN + FP + FN)
  - This measures how many of the labels we identified correctly as wrong and correctly as true
- Precision: (TP) / (TP + FP)
  - From all of the labels that were predicted positive, how many of them were actually correct? This therefore measures how precise our model predicts in regards of the being correct. 

- Recall (TP) / (TP + TN)
 - From all of the labels that are actually true, how many of the labels were predicted as false. When there is a high cost for False negatives, for example not detecting a cancer desease, we want to have a high as possible recall rate. 

 - F1 2 * ( (Precision * Recall) / (Precision + Recall) )
  - So if we were not bound by a specific requirement like at least 95% recall rate, then F1 Score is the balance for the optimal Recall and Precision value. This value gives the model with the best of both worlds precision and recall. It might also be better to use the F1 score for an imbalanced dataset, because then we are not so biased towards either precision or recall. 

<br>

__Task 10__: Complete the following code. Call __make_bilou_df__ with a resume from the test set and store result in __bilou_df__ variable.

In [38]:
from spacy.gold import biluo_tags_from_offsets
import pandas as pd
from IPython.display import display, HTML

## returns a pandas dataframe with tokens, prediction, and true (Gold Standard) annotations of tokens
def make_bilou_df(nlp,resume):
    """
    param nlp - a trained spacy model
    param resume - a resume from our train or test set
    """
    doc = nlp(resume[0])
    bilou_ents_predicted = biluo_tags_from_offsets(doc, [(ent.start_char,ent.end_char,ent.label_)for ent in doc.ents])
    bilou_ents_true = biluo_tags_from_offsets(doc, [(ent[0], ent[1], ent[2]) for ent in resume[1]["entities"]])

    
    doc_tokens = [tok.text for tok in doc]
    bilou_df = pd.DataFrame()
    bilou_df["Tokens"] = doc_tokens
    bilou_df["Tokens"] = bilou_df["Tokens"].str.replace("\\s+","") 
    bilou_df["Predicted"] = bilou_ents_predicted
    bilou_df["True"] = bilou_ents_true
    return bilou_df

## TODO call method above with a resume from test set and store result in bilou_df variable.
n = 9
bilou_df = make_bilou_df( nlp, (x_test[n], y_test[n]) )
display(bilou_df)

            Tokens Predicted      True
0            Sagar         O         O
1           Kurada         O         O
2                          O         O
3          Manager         O         O
4                -         O         O
...            ...       ...       ...
1112            of  I-Skills  I-Skills
1113  Quantitative  I-Skills  I-Skills
1114           and  I-Skills  I-Skills
1115   Qualitative  I-Skills  I-Skills
1116      research  L-Skills  L-Skills

[1117 rows x 3 columns]

Inform yourself on the [BILUO](https://spacy.io/usage/linguistic-features#accessing-ner) scheme.<br>
__Question 7__: Why do you think is it better to tag entities using this scheme (consider names of humans, descriptions of items in a shop)?<br>

The BILUO scheme solves a problem that I previously mentioned. The companies worked for are marked as ORG for every single word. I can be regarded that each word of the companie name is an own ORG, but actually it is just one ORG. Also a human name consists of at least two words, therefore it is better to not tag it with two times PERSON.

<br>

__Task 11__: employ pandas dataframe api to get a subset where predicted and true labels are the same. Compute the accuracy using the formula you researched above.

In [39]:
## TODO bilou_df is a pandas dataframe. Use pandas dataframe api to get a subset where predicted and true are the same. 
same_df = bilou_df[bilou_df["Predicted"] == bilou_df["True"]]
## TODO compute the accuracy 
accuracy = len(same_df) / len(bilou_df)

print("Accuracy on one resume: ",accuracy)

Accuracy on one resume:  0.8907788719785139

The __accuracy__ is not 100%. Therefore, we want to have a look at those tokens, where the predicted and the true value differ.<br>
__Task 12__: create a dataframe diff_df where the predicted values and the true values differ

In [40]:
# TODO create a dataframe diff_df where the predicted values and the true values differ
diff_df = bilou_df[bilou_df["Predicted"] != bilou_df["True"]]
display(diff_df)

              Tokens              Predicted      True
747            Gupta                      O         -
748            power                      O         -
749   infrastructure                      O         -
750          limited                      O         -
982             KIIT  B-Companies worked at         O
...              ...                    ...       ...
1107        business               I-Skills         O
1108      actionable               I-Skills         O
1109                               I-Skills         O
1110               *               I-Skills         O
1111   Understanding               I-Skills  B-Skills

[122 rows x 3 columns]

Since we only considered one resumee, we now make this comparison for the whole test set.<br>
__Task 13__: Complete the following code for the computation of the overall accuracy.

In [41]:
x_test[0]

"Rahul Tayade\nGlobal Production Support Lead, - Infosys Ltd (Technology Lead) - HSBC\n\nPune, Maharashtra - Email me on Indeed: indeed.com/r/Rahul-Tayade/ce40c3731cb69763\n\n• Total 12+ years of IT experience in the analysis, design, development, Testing support,\nimplementation, CAT support and management of full life cycle applications, project coordination,\nmanaging development and support projects.\n• More than 7 years of experience on Project Leading support and maintenance project including\nenhancements of the application.\n• Over 4 years of Project Management experience on support/maintenance projects.\n• Managed multiple applications with team more than 16 members.\n• Involved in PM activities like dealing with customer, identifying new business, get new business,\naccordingly raising quotes, and get PO approved from customer, track the work and bill customer\nbased on Resource Utilization, Workforce management, manage project costing by providing\ncost-effective solutions etc.\n• Involve in SIX Sigma and Lean initiative to remove the unwanted NVA (non-value add) improve\non costing and performance side\n• Was deputed to client side UK-IPSWICH to deal with client and handle issues, achieve the client\nconfidence by creating road map for improvement and improving performance and during that\ntime customer satisfaction rating was increased to 4.9 from 4.4 out of 5.\n• Handled responsibilities as the single point of contact for various projects, transitioning and\noffshore coordinator.\n• As a ASG Project lead involved in ASG activities like resource management, work allocation,\nshift management, handling escalations, SLA performance and dashboard reporting, ITES Metric\nreports, Highlight reports, coordinating and performing deployments, QMG audits, PMR activities\netc.\n• Practiced ITIL V3 processes during my tenure on application support projects which includes\nService Transition, Service Operations (Incident management, Change Management, Problem\nManagement) and Continual Service Improvements\n• Handled effort estimation using Function Point (IFPUG Guidelines), cost estimation and planning\nvarious projects.\n• Prepared performance improvement plan on activities related to application performance.\n• Managed and Delivered VDC Migrations, Database Migration projects.\n• Capacity planning, work load and work force planning.\n• Interact with the business analysts &amp; application leads to come up with technical designs\nbased on the functional designs.\n• Worked extensively on Oracle PL/SQL, UNIX, Scripting and have good interpersonal skills.\n• Involved in Service transition and successfully completed all quality gates\n• Documented and Managed DR activities successfully\n• Involved in BCP planning and execution.\n• Team mentoring and help team when needed\n• Involved in escalations and resolve the issue smoothly by involving business stakeholders and\nteam effectively.\n\nWORK EXPERIENCE\n\nGlobal Production Support Lead, - Infosys Ltd (Technology Lead)\n\nhttps://www.indeed.com/r/Rahul-Tayade/ce40c3731cb69763?isid=rex-download&ikw=download-top&co=IN\n\n\nHSBC -  Pune, Maharashtra -\n\nJune 2016 to Present\n\nCurrently working in Global Standards IT under the CDD (Customer Due Diligence) program which\nis responsible for tackling financial crime by implementing new tools to better understand their\ncustomers.\n\nI lead a global 24*7 production support team for a number of Tier 1 KYC (Know Your Client)\nFCR (Financial Crime Risk) applications and provide hands on application support to a user base\nacross 35 countries in 42 markets, for HSBC and its subsidiaries First Direct and Marks &amp;\nSpencer Bank.\n\nTasks:\n• Mentoring team on Technical as well as Process front\n• Implementing new processes\n• Implementing a global 24*7 Support Model\n• Supporting the rollout of new customer onboarding tool across 35 countries\n• Supporting weekly release cycles\n\nResponsibilities:\n• Offshore Leadership/People Management\n• Service Delivery Management\n• Stakeholder Management\n• Relationship Management\n• Service Recovery Management\n• Production Support\n• Incident Management\n• Problem Management\n• Change Management\n• Release Management &amp; Support during releases\n• Involve in Service Improvement Process for Faster and Smooth delivery\n• Resolving technical issues relating to application from offshore\n• Training &amp; Mentoring new resources for the Projects\n• Documentation and manage Knowledge bank for team reference\n• Documentation and execution of DR activities\n\nTechnology Lead\n\nHSBC -  Pune, Maharashtra -\n\nOctober 2015 to July 2016\n\nInvolved in Transition of application\n• Preparation of in Knowledge Transfer plan from HSBC to Infosys,\n• Managing KT schedules and made sure that it working as per plan\n• Managing variance and made sure that portion left should get discussed as per updated plans.\n• Mentoring new team on technical and process front\n• Helping team where laps in KT plan or miscommunications\n• Preparation and scheduling of Reverse KT plans and smooth execution of it\n\n\n\n• Managing stake holders and business and give them confidence for moving support to new\nteam\n• Made sure that this plan passed from all quality gates in order to start work from new team\n• Documentation of all these Knowledge and Process\n\nProject Lead\n\nBritish Telecom UK -  Pune, Maharashtra -\n\nAugust 2010 to July 2015\n\nFPQ system is used for entry and reporting of quality data. It is national database for all quality\nchecks. It is used to record field performance quality scores of resources and based on the entry\nof it evaluate the quality scores. It is also used for score sheet and contractor management. Base\non the score sheets auditors performs the transaction audits. FPQ also provides the transactional\nand statistical reports.\nV21 is crucial interface between the OSS and the network. It is based on Metasolv's component\nOMS.\nOMS: A Centralized Order Management system that allows changing processes and adding\ninterfaces automatically\n\n• Off Shore Project Manager for various integration projects for the client.\n• Requirement Understanding for future development and enhancement by interacting with\nClient, E2E Solution Designers and other stake holders.\n• Prepared application performance improvement plan such CSIP (Continuous Service\nImprovement Plan), Get-well Plan.\n• Providing estimation of effort and timescale for all the project deliveries\n• Managing components deliveries impacted by various Releases\n• Perform project planning, scheduling, monitoring, and reporting activities.\n• Interface with the client team to update them on the issues, risks and status of the offshore\ndelivery.\n• Part of Application/Detail Design team to design high level and low level of the integration work.\n• Ensure system is delivered within planned cost, timescale and resource budgets.\n• Perform Release Management\n• Effort Estimation, Cost estimation, Allocate work to the team, track and raise the queries and\nresolve issues related to deliveries.\n• Design, Development, Testing for various projects.\n• Change Requests/Maintenance Release\n• Resolving technical issues relating to application from offshore\n• Training &amp; Mentoring new resources for the Projects.\n• Oracle Database Migration, Application Migration to VDC environment.\n• Completed VDC Migration (DaaS, CaaS, MaaS) for various application\n\nAlong-side the responsibilities mentioned above I was involved in various initiatives by client for\nimprovement in team efficiency like Six Sigma and Lean management that saved lots of efforts\nand in turns monetary benefits to customer.\n\nWe also developed solutions to various issues which reduced incidents count that also reduce\nturnaround time for resolution of the issue that engineer faced. For which we have received Blue\nRibbon Award.\n\n\n\nTeam Lead\n\nBritish Telecomm UK -  UK -\n\nJune 2006 to July 2010\n\nEWMP-Tacticals contains Robotic systems formerly with the FastTrack solutions Team within BT.\nRobotic systems were developed with the purpose of reducing the manual/ repetitive work done\nby the Field engineers. This work is automated by Robots and User interface interacting with\nvarious systems like CSS, Work Manager and other components. It is bunch of 16 applications\n\n• Off Shore Project Manager for various integration projects for the client.\n• Requirement Understanding for future development and enhancement by interacting with\nClient, E2E Solution Designers and other stake holders.\n• Prepared application performance improvement plan such CSIP (Continuous Service\nImprovement Plan), GetWell Plan.\n• Providing estimation of effort and timescale for all the project deliveries\n• Managing components deliveries impacted by various Releases\n• Perform project planning, scheduling, monitoring, and reporting activities.\n• Interface with the client team to update them on the issues, risks and status of the offshore\ndelivery.\n• Part of Application/Detail Design team to design high level and low level of the integration work.\n• Ensure system is delivered within planned cost, timescale and resource budgets.\n• Perform Release Management\n• Effort Estimation, Cost estimation, Allocate work to the team, track and raise the queries and\nresolve issues related to deliveries.\n• Design, Development, Testing for various projects.\n• Change Requests/Maintenance Release\n• Resolving technical issues relating to application from offshore\n• Training &amp; Mentoring new resources for the Projects.\n• Oracle Database Migration, Application Migration to VDC environment.\n• Completed VDC Migration (DaaS, CaaS, MaaS) for various application before EOSL (End of life\ncycle of the application)\n\nFor one of the legacy application (FastQ) , we have provided L3 support, application basically\ndeveloped Oracle HTTPS based and Tomcat as Service to handle it.\nDuring change in business level we have done development and changes for this application for\nwhich Customer gives me Start Team player award as this was legacy application and before this\nchange there was no change done for more than 6 years.\n\nSystem Analyst\n\nGE Countrywide, Lending and Repay Management -\n\nMay 2005 to April 2006\n\nLeasing functionality as per the standard defined by financial institution. It includes all the\nfunctionality from Creation of Group, Company, and Creation of Trenches, Disbursing Loan\nAgreement No. Capitalizing LAN.\nIn Repayment Management System will take care of Installment receipt, Write-off cases, Charges\nfor delinquent cases, Foreclosure of LAN etc\n\n\n\nThis application was developed from Scratch so involved in every part of application life cycle\nfrom requirement gathering till UAT support before go-live\n\n• Database design, GUI design.\n• Development of database objects like procedure packages, and development of GUI.\n• Design and developed customized report as per client requirement.\n• Component testing.\n• End to end test support.\n• UAT support and post deployment support.\n\nEDUCATION\n\nBachelor of Engineering in ELECTRONICS AND TELECOMMUNICATION\n\nAmravati University -  Amravati, Maharashtra\n\n1997 to 1999\n\nDiploma in INDUSTRIAL ELECTRONICS\n\nTechnical Board of Education Bombay -  Mumbai, Maharashtra\n\n1993 to 1996\n\nSKILLS\n\nMENTORING (10+ years), SCHEDULING (9 years), ORACLE (9 years), SOLUTIONS (9 years),\nBENEFITS (4 years)\n\nADDITIONAL INFORMATION\n\nI.T KNOWLEDGE &amp; SKILLS\nProgramming Languages: VB script, C, C++, Visual Basic, COM/DCOM\nDatabases: Oracle, SQL,\nDevelopment Tools: Toad, PL/SQL Developer, Crystal Report, Putty,Clarify, GSD, RTC, JIRA,\nConfluence, VSS, PVCS,\nWeb Servers: IIS, Oracle HTTP Server on Windows, Weblogic 10.3, WebSphere, Apache Tomcat,\nMTS\nBatch Scheduling: Control-M, Cron0Jobs, Windows Schedulers\nOperating Systems: Windows […] Pro &amp; Server/XP Home &amp; Professional/2003 Server/\nVista/7 Pro &amp; Enterprise/8/10, MS-DOS, UNIX, Linux\nWindows Packages: Microsoft Office: (Word, Excel, Access, Outlook and PowerPoint), Oracle\nDBMS, Internet Explorer, Netscape, Lotus Notes, Adobe Flash, Photoshop, and CITRIX Metaframe\n1.8/XP\nTransferable Skills: Excellent business skills, project management, presentation, interpersonal,\ncommunication and report writing skills, Team Mentoring\n\nOTHER SKILLS\n• Sound customer-facing skills: drive demos, status calls, issues &amp; escalation handling and\nprovide solutions which benefits the business and customer\n\n\n\n• Dynamic Team leader, strong resource management, team building skills and conflict\nmanagement. Strong in result oriented service delivery to the customer\n• Excellent cross-vendor communication skills\n• Strong Analytical &amp; problem solving ability and proactively drive opportunities to resolution\nwithout supervision"

In [42]:
doc_accuracy = []

for i in range( len( x_test ) ):

  resume = (x_test[i], y_test[i])

  bilou_df = make_bilou_df(nlp,resume)

  same_df = bilou_df[bilou_df["Predicted"] == bilou_df["True"]]

  doc_accuracy.append( len(same_df) / len(bilou_df) )

total_acc = np.mean( doc_accuracy )
print("Accuracy: ",total_acc)

Accuracy:  0.8515458526212976

So we got an __accuracy__ of about 90% on average. This is quite good considering, that we only considered about 300 cases for training.<br>
__Task 14__: Next, we want to find out, what the model did, when it went wrong. We only consider 5 resumees.<br>
Complete the following code.

In [43]:
for i in range( 5 ):

  resume = (x_test[i+3], y_test[i+3])

  bilou_df = make_bilou_df(nlp,resume)

  difference_df = bilou_df[bilou_df["Predicted"] != bilou_df["True"]]

  # TODO: print, where the labels from Spacy and the annotation differ. Print the text, the predicted and the true labels.
  display(difference_df)

         Tokens Predicted                   True
6     Portfolio         O               B-Skills
7    Management         O               L-Skills
10         Axis         O  B-Companies worked at
11         Bank         O  L-Companies worked at
53         Axis         O  B-Companies worked at
..          ...       ...                    ...
885   Portfolio         O               B-Skills
886  Management         O               L-Skills
888   Analytics         O               U-Skills
921        Axis         O  B-Companies worked at
922        Bank         O  L-Companies worked at

[64 rows x 3 columns]

         Tokens              Predicted      True
62          SAP  B-Companies worked at         -
63            -  I-Companies worked at         O
64               I-Companies worked at         O
65    Bengaluru  L-Companies worked at         O
100  Electrical               I-Degree  L-Degree
..          ...                    ...       ...
409  Interfaced               I-Skills         O
410        With               I-Skills         O
411          In               I-Skills         O
412       touch               I-Skills         O
413       SCADA               L-Skills         O

[267 rows x 3 columns]

         Tokens              Predicted                   True
28      Ingeral                      O  B-Companies worked at
29        Sales                      O  I-Companies worked at
30  Corporation                      O  L-Companies worked at
65          ltd  I-Companies worked at  L-Companies worked at
66            -  I-Companies worked at                      O
67               I-Companies worked at                      O
68       Mumbai  L-Companies worked at                      O
83   Management               I-Degree               L-Degree
84                            L-Degree                      O
95       Fluent                      O               B-Skills
96      English                      O               L-Skills

          Tokens Predicted                   True
3            Ltd         O  B-Companies worked at
4         Mumbai         O  L-Companies worked at
9        Pepperl         O  B-Companies worked at
10             &         O  I-Companies worked at
11         Fuchs         O  I-Companies worked at
...          ...       ...                    ...
1083  Management  I-Skills                      O
1084   Technical  I-Skills                      O
1085    Solution  I-Skills                      O
1086     Service  I-Skills                      O
1087    Delivery  L-Skills                      O

[106 rows x 3 columns]

        Tokens              Predicted                   True
70   Microsoft  B-Companies worked at                      O
71     Student  I-Companies worked at                      O
72     Partner  I-Companies worked at                      O
73              I-Companies worked at                      O
74   MICROSOFT  L-Companies worked at  U-Companies worked at
..         ...                    ...                    ...
567         10                      O                      -
568          /                      O                      -
569       8.1/                      O                      -
570          7                      O                      -
571                                 O                      -

[112 rows x 3 columns]

__Question 8__: What was predicted, when the prediction differed from the true label?<br>
What do you think is necessary for computing the accuracy on token level?<br> 
What is the advantage of computing the accuracy on token level?<br>

Most of the time when the prediction is wrong, the model predicted an `O`，which stands for `Token is outside an entity`, which means that no entity could have been identified. Often is also the true label an `O` and the model predicted as already said for one entity for every single word this entity and therefore the prediction is wrong. When we predict on token level we need to consider that one token can have multiple words, but it's better and more precise, because it reflects the real world more. 

<br>

__Task 15__: Complete the following code.

In [48]:
## TODO cycle through chosen_entity_labels and calculate metrics for each entity using test data
data = []
for label in chosen_entity_labels:
    ## variables to store results for all resumes for one entity type
    true_positives = 0
    false_positives = 0
    false_negatives = 0
    for i in range( len( x_test ) ):
        ## use make_bilou_df on each resume in our test set, and calculate for each entity true and false positives,
        ## and false negatives. 

        resume = (x_test[i], y_test[i])
        
        tres_df = make_bilou_df(nlp,resume)

        ## calculate true false positives and false negatives for each resume
        
        tp = tres_df[(tres_df["Predicted"] == tres_df["True"]) & (tres_df["Predicted"].str.contains(label))] 
        
        fp = tres_df[(tres_df["Predicted"] != tres_df["True"]) & (tres_df["Predicted"].str.contains(label))] 
        
        fn = tres_df[(tres_df["Predicted"] != tres_df["True"]) & ~(tres_df["Predicted"].str.contains(label))] 

        ## aggregate result for each resume to totals
        true_positives = true_positives + len(tp)
        false_positives = false_positives + len(fp)
        false_negatives = false_negatives + len(fn)

    print("For label '{}' tp: {} fp: {} fn: {}".format(label,true_positives,false_positives,false_negatives))
    
    ## TODO Use the formulas you learned to calculate metrics and print them out
    ## also: prevent division by zero without raising errors. Explain your choice
    e = np.finfo(float).eps
    
    precision = (true_positives + e) / (true_positives + false_positives + e)
    recall = (true_positives + e) / (true_positives + false_negatives + e)
    f1 = 2 * ((precision * recall + e) / (precision + recall + e))
    
    row = [label,precision,recall,f1]
    data.append(row)

## make pandas dataframe with metrics data. Use the chosen entity labels as an index, and the metric names as columns. 
metric_df = pd.DataFrame( data, columns = [ "Label", "Precision", "Recall", "F1" ] )
display(metric_df)

For label 'Degree' tp: 186 fp: 853 fn: 6925
For label 'Companies worked at' tp: 536 fp: 912 fn: 6866
For label 'Skills' tp: 864 fp: 2770 fn: 5008

                 Label  Precision    Recall        F1
0               Degree   0.179018  0.026157  0.045644
1  Companies worked at   0.370166  0.072413  0.121130
2               Skills   0.237755  0.147139  0.181780

__Question 9__: Explain from these statistics how well __nlp__ performs.<br>

Based on these statistics, nlp performs really bad. 

For example Degree:

- Precision:
From all of the labels that were predicted as Degree were only 18% actually a Degree. This of course depends on that there is only 1 or 2 degrees, but the prediction predicts Degree on every single word for the degree institution. 

- Recall:
From our actual positive degrees, nlp is only capable to find 2,6% of these labels as correct. This is of course very bad and we cannot trust this model at all. We need to find a better way than labeling every single word with the same Token. 

- F1:
Due to Precision and Recall being very bad, especially Recall, F1 can only be bad too, because it's like the balanace of these two. Therefore we have a score somewhat in the middle of these two.

For Companis worked at and Skills applies almost the same logic, expect that they performed slightly better for the Precision, this could be due to the words of Companies and Skills are longer, but the False Positives are lower, that's why the Precision is higher, even though it does not work as well.

<br>

__Task 16__: Compute for each metric (Precision, Recall, F1) the mean values.

In [49]:
for label in [ "Precision", "Recall", "F1" ]:
    
    # Compute mean and print
    print(f"Mean {label}: {metric_df[label].mean()}")

Mean Precision: 0.2623128577072971
Mean Recall: 0.08190282822142089
Mean F1: 0.11618468124940066

__Question 10__: What do you learn, when you compare the performance of the model on the token level with the performance of the model on the global level from above?<br>

We learn that the global metrics for this kind of task can not really be trusted, because we need to elaborate on all of the different entities for themselves. A few high scoring entities can enhance the global score, even though some of the labels are really bad performing. We learn that we need to make a good evaluation on all of our wanted entities.

<br>

Next, we prepare data for flair.

In [51]:
train = [ [ x_train[ i ], y_train[ i ] ] for i in range( len( x_train ) ) ]

test = [ [ x_test[ i ], y_test[ i ] ] for i in range( len( x_test ) ) ]

__Task 17__: Complete the following code.

In [52]:
# prepare data
training_data_as_bilou = [make_bilou_df(nlp,res) for res in train]

test_data_as_bilou = [make_bilou_df(nlp,res) for res in test]


# set up paths
path_to_training_file = os.getcwd() + "/training_data.csv"

path_to_test_file = os.getcwd() + "/test_data.csv"



# make sure, that if the corresponding files exist, they are emptied
if os.path.isfile( path_to_training_file ):

  open( path_to_training_file, "w" ).close()

if os.path.isfile( path_to_test_file ):

  open( path_to_test_file, "w" ).close()


# open empty files
training_file = open( path_to_training_file, "a", encoding = "utf-8" )
    
test_file = open( path_to_test_file, "a", encoding = "utf-8" )

remove = ["", " ", "\n"]

for item in training_data_as_bilou:

  # TODO remove all tokens like "", " ", "\n" by ignoring them
  # for all other tokens do the following:
  # create a string s: s = token + " " + label + "\n"
  # if the label is "-", then write s = token + " O\n"
  #
  # write this newly created string to file
  # if this newly created string contains ".", then also write a 
  # newline to file that only contains "\n"
  #
  # Using this scheme, each line in the resulting files corresponds either to an empty line or a token.
  # Flair assembles a block of nonempty lines into a sentence. Therefore, the empty line
  # is a signal for Flair that the current sentence is finished. Therefore, we extracted
  # the whitespaces above.
  removed_items = item[~item["Tokens"].isin(remove)].copy()

  for token, label in zip(removed_items["Tokens"], removed_items["True"]):
    s = ""

    if label == "-":
      s = token + " O\n"
    else:
      s = token + " " + label + "\n"

    training_file.write(s)

    if "." in s:
      training_file.write("\n")


for item in test_data_as_bilou:
    
  # TODO the same as above.
  removed_items = item[~item["Tokens"].isin(remove)].copy()

  for token, label in zip(removed_items["Tokens"], removed_items["True"]):
    s = ""

    if label == "-":
      s = token + " O\n"
    else:
      s = token + " " + label + "\n"

    test_file.write(s)

    if "." in s:
      test_file.write("\n")


training_file.close()

test_file.close()

Start Flair

In [53]:
pip install flair

Collecting flair
  Downloading https://files.pythonhosted.org/packages/f0/3a/1b46a0220d6176b22bcb9336619d1731301bc2c75fa926a9ef953e6e4d58/flair-0.8.0.post1-py3-none-any.whl (284kB)
     |████████████████████████████████| 286kB 8.0MB/s
Requirement already satisfied: tqdm>=4.26.0 in /usr/local/lib/python3.7/dist-packages (from flair) (4.41.1)
Collecting gdown==3.12.2
  Downloading https://files.pythonhosted.org/packages/50/21/92c3cfe56f5c0647145c4b0083d0733dd4890a057eb100a8eeddf949ffe9/gdown-3.12.2.tar.gz
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting mpld3==0.3
  Downloading https://files.pythonhosted.org/packages/91/95/a52d3a83d0a29ba0d6898f6727e9858fe7a43f6c2ce81a5fe7e05f0f4912/mpld3-0.3.tar.gz (788kB)
     |████████████████████████████████| 798kB 41.1MB/s
Collecting langdetect
  Downloading https://files.pythonhosted.org/packages/0e/72/a3add0e4eec4eb9e2569554f7c70f4a3c27712f40e3284d483e88094cc0e/langdetect-1.0.9.tar.gz (981kB)
     |████████████████████████████████| 983kB 34.5MB/s
Collecting sentencepiece==0.1.95
  Downloading https://files.pythonhosted.org/packages/f5/99/e0808cb947ba10f575839c43e8fafc9cc44e4a7a2c8f79c60db48220a577/sentencepiece-0.1.95-cp37-cp37m-manylinux2014_x86_64.whl (1.2MB)
     |████████████████████████████████| 1.2MB 43.4MB/s
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from flair) (0.8.9)
Requirement already satisfied: numpy<1.20.0 in /usr/local/lib/python3.7/dist-packages (from flair) (1.19.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from flair) (2.8.1)
Collecting ftfy
  Downloading https://files.pythonhosted.org/packages/ce/b5/5da463f9c7823e0e575e9908d004e2af4b36efa8d02d3d6dad57094fcb11/ftfy-6.0.1.tar.gz (63kB)
     |████████████████████████████████| 71kB 10.5MB/s
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from flair) (4.2.6)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from flair) (2019.12.20)
Collecting deprecated>=1.2.4
  Downloading https://files.pythonhosted.org/packages/fb/73/994edfcba74443146c84b91921fcc269374354118d4f452fb0c54c1cbb12/Deprecated-1.2.12-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from flair) (0.22.2.post1)
Collecting torch<=1.7.1,>=1.5.0
  Downloading https://files.pythonhosted.org/packages/90/5d/095ddddc91c8a769a68c791c019c5793f9c4456a688ddd235d6670924ecb/torch-1.7.1-cp37-cp37m-manylinux1_x86_64.whl (776.8MB)
     |████████████████████████████████| 776.8MB 24kB/s
Collecting huggingface-hub
  Downloading https://files.pythonhosted.org/packages/32/a1/7c5261396da23ec364e296a4fb8a1cd6a5a2ff457215c6447038f18c0309/huggingface_hub-0.0.9-py3-none-any.whl
Requirement already satisfied: gensim<=3.8.3,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from flair) (3.6.0)
Collecting sqlitedict>=1.6.0
  Downloading https://files.pythonhosted.org/packages/5c/2d/b1d99e9ad157dd7de9cd0d36a8a5876b13b55e4b75f7498bc96035fb4e96/sqlitedict-1.7.0.tar.gz
Requirement already satisfied: matplotlib>=2.2.3 in /usr/local/lib/python3.7/dist-packages (from flair) (3.2.2)
Collecting bpemb>=0.3.2
  Downloading https://files.pythonhosted.org/packages/f2/6f/9191b85109772636a8f8accb122900c34db26c091d2793218aa94954524c/bpemb-0.3.3-py3-none-any.whl
Collecting transformers>=4.0.0
  Downloading https://files.pythonhosted.org/packages/d5/43/cfe4ee779bbd6a678ac6a97c5a5cdeb03c35f9eaebbb9720b036680f9a2d/transformers-4.6.1-py3-none-any.whl (2.2MB)
     |████████████████████████████████| 2.3MB 31.4MB/s
Collecting konoha<5.0.0,>=4.0.0
  Downloading https://files.pythonhosted.org/packages/02/be/4dd30d56a0a19619deb9bf41ba8202709fa83b1b301b876572cd6dc38117/konoha-4.6.4-py3-none-any.whl
Collecting janome
  Downloading https://files.pythonhosted.org/packages/a8/63/98858cbead27df7536c7e300c169da0999e9704d02220dc6700b804eeff0/Janome-0.4.1-py2.py3-none-any.whl (19.7MB)
     |████████████████████████████████| 19.7MB 1.2MB/s
Requirement already satisfied: hyperopt>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from flair) (0.1.2)
Collecting segtok>=1.5.7
  Downloading https://files.pythonhosted.org/packages/41/08/582dab5f4b1d5ca23bc6927b4bb977c8ff7f3a87a3b98844ef833e2f5623/segtok-1.5.10.tar.gz
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown==3.12.2->flair) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown==3.12.2->flair) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown==3.12.2->flair) (3.0.12)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from ftfy->flair) (0.2.5)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated>=1.2.4->flair) (1.12.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->flair) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->flair) (1.0.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<=1.7.1,>=1.5.0->flair) (3.7.4.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from huggingface-hub->flair) (4.0.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<=3.8.3,>=3.4.0->flair) (5.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.3->flair) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.3->flair) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.3->flair) (2.4.7)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/75/ee/67241dc87f266093c533a2d4d3d69438e57d7a90abb216fa076e7d475d4a/sacremoses-0.0.45-py3-none-any.whl (895kB)
     |████████████████████████████████| 901kB 31.6MB/s
Collecting tokenizers<0.11,>=0.10.1
  Downloading https://files.pythonhosted.org/packages/ae/04/5b870f26a858552025a62f1649c20d29d2672c02ff3c3fb4c688ca46467a/tokenizers-0.10.2-cp37-cp37m-manylinux2010_x86_64.whl (3.3MB)
     |████████████████████████████████| 3.3MB 28.8MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers>=4.0.0->flair) (20.9)
Collecting overrides<4.0.0,>=3.0.0
  Downloading https://files.pythonhosted.org/packages/ff/b1/10f69c00947518e6676bbd43e739733048de64b8dd998e9c2d5a71f44c5d/overrides-3.1.0.tar.gz
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from hyperopt>=0.1.1->flair) (0.16.0)
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (from hyperopt>=0.1.1->flair) (3.11.4)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from hyperopt>=0.1.1->flair) (2.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==3.12.2->flair) (1.7.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->huggingface-hub->flair) (3.4.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers>=4.0.0->flair) (8.0.0)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx->hyperopt>=0.1.1->flair) (4.4.2)
Building wheels for collected packages: gdown
  Building wheel for gdown (PEP 517) ... done
  Created wheel for gdown: filename=gdown-3.12.2-cp37-none-any.whl size=9693 sha256=fa26ceaf779cc33a87a0834633759473d15ea868103b242e022cd1083e81f67b
  Stored in directory: /root/.cache/pip/wheels/81/d0/d7/d9983facc6f2775411803e0e2d30ebf98efbf2fc6e57701e09
Successfully built gdown
Building wheels for collected packages: mpld3, langdetect, ftfy, sqlitedict, segtok, overrides
  Building wheel for mpld3 (setup.py) ... done
  Created wheel for mpld3: filename=mpld3-0.3-cp37-none-any.whl size=116679 sha256=0d1611fe297b590434d4db17ab43e206684bd81cc5b00ac6089c2f808b8ff579
  Stored in directory: /root/.cache/pip/wheels/c0/47/fb/8a64f89aecfe0059830479308ad42d62e898a3e3cefdf6ba28
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-cp37-none-any.whl size=993223 sha256=0ea020943e94ad2891ef43cb85df12c89ffc9bfeb52ae52dea7942fc0313a0a2
  Stored in directory: /root/.cache/pip/wheels/7e/18/13/038c34057808931c7ddc6c92d3aa015cf1a498df5a70268996
  Building wheel for ftfy (setup.py) ... done
  Created wheel for ftfy: filename=ftfy-6.0.1-cp37-none-any.whl size=41573 sha256=714c5bce43face610027da49ec60b44c5992d26fac5af42f584785df8c67c0a3
  Stored in directory: /root/.cache/pip/wheels/ae/73/c7/9056e14b04919e5c262fe80b54133b1a88d73683d05d7ac65c
  Building wheel for sqlitedict (setup.py) ... done
  Created wheel for sqlitedict: filename=sqlitedict-1.7.0-cp37-none-any.whl size=14376 sha256=4106e05b50c777321e66481eb9be0c6276b21e658426dfdb2da26328c19820f8
  Stored in directory: /root/.cache/pip/wheels/cf/c6/4f/2c64a43f041415eb8b8740bd80e15e92f0d46c5e464d8e4b9b
  Building wheel for segtok (setup.py) ... done
  Created wheel for segtok: filename=segtok-1.5.10-cp37-none-any.whl size=25019 sha256=18c99e553391fa6da45055c9a3390db59f0b7661610cb819bceedbd9d9cb7fc7
  Stored in directory: /root/.cache/pip/wheels/b4/39/f6/9ca1c5cabde964d728023b5751c3a206a5c8cc40252321fb6b
  Building wheel for overrides (setup.py) ... done
  Created wheel for overrides: filename=overrides-3.1.0-cp37-none-any.whl size=10174 sha256=f1439a619ddea68a77b7d8c73a3db60f4ae60c5f76f3283f8122d435febe09b0
  Stored in directory: /root/.cache/pip/wheels/5c/24/13/6ef8600e6f147c95e595f1289a86a3cc82ed65df57582c65a9
Successfully built mpld3 langdetect ftfy sqlitedict segtok overrides
ERROR: torchvision 0.9.1+cu101 has requirement torch==1.8.1, but you'll have torch 1.7.1 which is incompatible.
ERROR: torchtext 0.9.1 has requirement torch==1.8.1, but you'll have torch 1.7.1 which is incompatible.
ERROR: transformers 4.6.1 has requirement huggingface-hub==0.0.8, but you'll have huggingface-hub 0.0.9 which is incompatible.
ERROR: konoha 4.6.4 has requirement importlib-metadata<4.0.0,>=3.7.0, but you'll have importlib-metadata 4.0.1 which is incompatible.
ERROR: konoha 4.6.4 has requirement requests<3.0.0,>=2.25.1, but you'll have requests 2.23.0 which is incompatible.
Installing collected packages: gdown, mpld3, langdetect, sentencepiece, ftfy, deprecated, torch, huggingface-hub, sqlitedict, bpemb, sacremoses, tokenizers, transformers, overrides, konoha, janome, segtok, flair
  Found existing installation: gdown 3.6.4
    Uninstalling gdown-3.6.4:
      Successfully uninstalled gdown-3.6.4
  Found existing installation: torch 1.8.1+cu101
    Uninstalling torch-1.8.1+cu101:
      Successfully uninstalled torch-1.8.1+cu101
Successfully installed bpemb-0.3.3 deprecated-1.2.12 flair-0.8.0.post1 ftfy-6.0.1 gdown-3.12.2 huggingface-hub-0.0.9 janome-0.4.1 konoha-4.6.4 langdetect-1.0.9 mpld3-0.3 overrides-3.1.0 sacremoses-0.0.45 segtok-1.5.10 sentencepiece-0.1.95 sqlitedict-1.7.0 tokenizers-0.10.2 torch-1.7.1 transformers-4.6.1

In [55]:
from flair.data import Corpus
from flair.data_fetcher import NLPTaskDataFetcher


# your training file name
data_folder = os.getcwd() 

train_file = "training_data.csv"

# your training file name
test_file = "test_data.csv"

# when we wrote the data files, each row was either empty to signal the end
# of a sentence to Flair, or the line contained a token, a white space and a label.
# In the next line, we assign, that the token is the "text", and that the label is 
# "ner" label
columns =  {0: 'text', 1: 'ner'}

## Now load our csv into flair corpus
corpus = NLPTaskDataFetcher.load_column_corpus(data_folder,column_format=columns,
                                               train_file=train_file,
                                               test_file=test_file)
print(corpus)

2021-05-22 10:54:43,090 Reading data from /content/gdrive/My Drive/flair
2021-05-22 10:54:43,098 Train: /content/gdrive/My Drive/flair/training_data.csv
2021-05-22 10:54:43,101 Dev: None
2021-05-22 10:54:43,102 Test: /content/gdrive/My Drive/flair/test_data.csv

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: DeprecationWarning: Call to deprecated function (or staticmethod) load_column_corpus. (Use 'flair.datasets' instead.) -- Deprecated since version 0.4.1.

Corpus: 6290 train + 699 dev + 3322 test sentences